.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump

aclocal.m4
autom4te.cache/
configure
install-sh
missing
Makefile
Makefile.in
config.log
config.status
ebin/clock.app
clock.rel
ebin/clock.boot
clock.script
bin/clock-start.sh
priv/elm-stuff
priv/*.html
